<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ if not .IsHome }}{{ .Title }} | {{ end }}{{ site.Title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/favicon.ico">
    {{ $cssOpts := dict "transpiler" "libsass" "targetPath" "css/main.css" }}
    {{ with resources.Get "scss/main.scss" | toCSS $cssOpts | resources.Minify | resources.Fingerprint }}
      <link rel="stylesheet" href="{{ .RelPermalink }}">
    {{ end }}
  </head>
  <body>
    <header class="main-header">
      <div class="container-fluid">
        <div class="main-header__grid">
          <h1>
            <a href="/">{{ site.Data.header.title }}</a>
          </h1>
          <nav>
            <ul>
              {{ range site.Data.header.nav }}
                <li>
                  <a href="{{ .url }}">{{ .label }}</a>
                </li>
              {{ end }}
            </ul>
          </nav>
        </div>
      </div>
    </header>
    <main class="main-content">
      {{ block "main" . }}
      {{ end }}
    </main>
  </body>
</html>
