@font-face {
  font-display: swap;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: url('/fonts/montserrat-v26-latin-800.woff2') format('woff2');
}
:root {
  --font-size-h1: 24px;
}
@media (min-width: 576px) {
  :root {
    --font-size-h1: 32px;
  }
}
@media (min-width: 768px) {
  :root {
    --font-size-h1: 40px;
  }
}
@media (min-width: 992px) {
  :root {
    --font-size-h1: 48px;
  }
}
@media (min-width: 1200px) {
  :root {
    --font-size-h1: 64px;
  }
}
@media (min-width: 1400px) {
  :root {
    --font-size-h1: 80px;
  }
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
html {
  -webkit-text-size-adjust: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 1.1;
}
h1 {
  font-size: var(--font-size-h1);
}