{{ define "main" }}
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="about__grid">
        <div class="about__image">
          <img src="{{ .Params.feature_image.src }}" alt="{{ .Params.feature_image.alt }}">
          <img src="{{ .Params.about.image.src }}" alt="{{ .Params.about.image.alt }}">
        </div>
        <div class="about__content">
          <h2>
            {{ .Params.about.headline }}
          </h2>
          {{ .Params.about.content | $.Page.RenderString (dict "display" "block") }}
        </div>
      </div>
    </div>
  </section>
  <section id="pencilboards" class="pencilboards">
    <div class="container-fluid">
      {{ range .Sections }}
        {{ partial "pencilboard-section.html" . }}
      {{ end }}
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container-fluid">
      <div class="contact__grid">
        <div class="contact__image">
          <img src="{{ .Params.contact.image.src }}" alt="{{ .Params.contact.image.alt }}">
        </div>
        <div class="contact__content">
          <h2>
            {{ .Params.contact.headline }}
          </h2>
          {{ .Params.contact.content | $.Page.RenderString (dict "display" "block") }}
          <ul class="social">
            <li>
              <a href="{{ .Params.instagram.url }}" target="_blank">
                {{ partial "svg.html" (dict "name" "instagram") }}
                {{ .Params.instagram.label }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
{{ end }}
