{{ define "main" }}
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="about__grid">
        <div class="about__image">
          {{ with .Params.featureImage }}
            <img src="{{ .src }}" alt="{{ .alt }}">
          {{ end }}
          {{ with .Params.about.image }}
            <img src="{{ .src }}" alt="{{ .alt }}">
          {{ end }}
        </div>
        <div class="about__content">
          {{ with .Params.about }}
            <h2>
              {{ .headline }}
            </h2>
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          {{ end }}
        </div>
      </div>
    </div>
  </section>
  <section id="pencilboards" class="pencilboards">
    <div class="container-fluid">
      {{ range .Sections }}
        {{ partial "pencilboard-section.html" . }}
      {{ end }}
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container-fluid">
      <div class="contact__grid">
        <div class="contact__image">
          {{ with .Params.contact.image }}
            <img src="{{ .src }}" alt="{{ .alt }}">
          {{ end }}
        </div>
        <div class="contact__content">
          {{ with .Params.contact }}
            <h2>
              {{ .headline }}
            </h2>
            {{ .content | $.Page.RenderString (dict "display" "block") }}
          {{ end }}
          {{ with .Params.social }}
            <ul class="social">
              {{ range . }}
                <li>
                  <a href="{{ .url }}" target="_blank">
                    {{ partial "svg.html" (dict "name" .name) }}
                    {{ .label }}
                  </a>
                </li>
              {{ end }}
            </ul>
          {{ end }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
