{{ define "main" }}
  <section id="about" class="about">
    <div class="container-fluid">
      <div class="grid">
        <div class="image">
          <img src="/images/bolt-sm.jpg" alt="Bolt">
          <img src="/images/nate.jpg" alt="Nathan Ellis">
        </div>
        <div class="content">
          <h2>
            About the art and the artist
          </h2>
          <p>
            Nathan Ellis is a local artist and designer living in Prairie Village, KS. He wondered what would happen if #2 pencils were broken up and glued down to create a three dimensional super canvas… and that’s how pencil board art was born! For more fun, he adds found objects and hidden messages throughout the piece to create visual interest and relevant ties back to the subject.
          </p>
          <p>
            <a href="/dogs/bolt/">In this piece</a>, Bolt is the primary subject, but as you look closer, you’ll find a coffee stir stick, a toy spider, a leash, a dog bone, an acorn, an action figure, an Alan wrench, a monopoly house, and many more surprises and hidden messages.
          </p>
          <p>
            Nathan is an illustration graduate of the University of Central Missouri and is currently a full-time artist, designer and co-founder of <a href="https://createwithadvocate.com">Advocate Creative</a>.
          </p>
        </div>
      </div>
    </div>
  </section>
  <section id="pencilboards" class="pencilboards">
    <div class="container-fluid">
      {{ range .Sections }}
        {{ partial "pencilboard-list.html" . }}
      {{ end }}
    </div>
  </section>
  <section id="contact" class="contact">
    <div class="container-fluid">
      <div class="grid">
        <div class="image">
          <img src="/images/contact.jpg" alt="Contact">
        </div>
        <div class="content">
          <h2>
            Let’s get in touch
          </h2>
          <p>
            If you have any questions about my work, don’t hesitate to <a href="mailto:nathan.ellis@createwithadvocate.com">email me</a>.
          </p>
          <p>
            I am also open for commissions and will happily discuss your ideas with you.
          </p>
        </div>
      </div>
    </div>
  </section>
{{ end }}
